.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFFFFD;
  position: relative;
}

.main-container .theme-changer {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 2em;
  height: 2em;
}
.main-container .theme-changer:after {
  content: "Change Theme";
  position: absolute;
  font-weight: bold;
  top: 50px;
  right: -50%;
}
.main-container.dark {
  background-color: #384951;
  color: white;
}
.main-container.dark .to-dos{
  background-color: #48626e;
}
.main-container.dark .to-dos .card-box{
  background-color: #3c3d3f;
}
.form-box {
  padding: 0 24px 24px 0;
}
.input-box label {
  display: block;
}
.input-box input {
  width: 300px;
}
.input-box {
  padding: 4px 0;
  background-color: red;
  width: 300px;
}
.to-dos {
  width: 20vw;
  background: #42C2FF;
  padding: 16px;
  border-radius: 20px;
  min-height: 400px;

}
.add-close {
  font-size: 1.2em;
  font-weight: bold;
  background: white;
  color: black;
  border: none;
  padding: 8px 16px;
  line-height: 100%;
  border-radius: 8px;
  text-decoration: none;
}
.add-close:hover {
  background-color: #85F4FF;
  
}