.card-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid black; */
  margin: 4px auto;
  /*  border-radius: 16px; */ 
  border-radius: 8px;
  background-color: #0968f6;
  transition: all 0.4s;
  &:hover {
    transform: scale(1.03, 1.03);
  }
}

.card-box.done {
  background-color: #85F4FF;
  text-decoration: line-through;
}
.card-box .card-info {
  padding: 0px 12px;
  margin-right: auto;
}
.card-box h4 {
  margin: 0;
}
.card-box p {
  margin: 0;
  font-size: .8em;
}
.card-box svg{
  // background: #85F4FF;
  background-color: #EFFFFD;
  border-radius: 6px;
  padding: 12px 8px;
  margin: 4px;
  color: black;
  &:hover {
    background-color:  #B8FFF9;
  }
}
.card-box.done svg{
  // background: rgb(142, 153, 250);
}

